<h1>Личный кабинет</h1>
<main>
    <img src="" style="margin-top:0;width:20%;margin-right:10px;">
    <div style="display:flex;Flex-direction:row;justify-content:space-around;width:20%;margin-right:10px;">
        <div>
            <h3>Ник: </h3>
            <div>
                <%= "#{@current_user.nickname}" %>
            </div>
            <h3>Логин: </h3>
            <div>
                <%= "#{@current_user.login}" %>
            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="ribbon">

            <div class="card">
                <form type="POST">
                    <input type="submit" value="Изменить">
                </form>
            </div>

            <div class="add_photo">
            <%= form_with url: "/photos", scope: :photo do |form| %>
                <p><%= form.label :image, "Добавить фото" %></p>
                <p><%= form.file_field :image%></p>
                <p><%= form.submit "Загрузить фото", class:"form-button" %></p>
            <% end %>
            </div>
            
 <%#       <%- end ->%>
    </div>

    
    
  

  <div class='form-photos'>
  <% @photos.each do |photo| %>
  <div>
    <%= image_tag photo.image%>
  </div>
  <% end %>
  </div>
  
</div>
</main>
